body {
  margin-top: 3.5rem;
}
.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: calc(100vh-2rem);
  gap: 3rem;
}

.login::before {
  content: '';
  display: block;
  background: url('../../assets/background.jpg');
  height: 0;
  padding-bottom: 100%;
  background-size: cover;
  border-radius: 0 20px 20px 0;
}

.form {
  max-width: 30rem;
  padding: 0 2rem;
}

@media (max-width: 40rem) {
  .login {
    grid-template-columns: 1fr;
  }

  .login::before {
    display: none;
  }

  .forms {
    max-width: 100%;
  }
}
