.button {
  background: #fb1;
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  color: #764701;
  padding: 0.8rem 1.2rem;
  font-size: 1.125rem;
  min-width: 8rem;
}

.button:hover,
.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #fea, 0 0 0 4px #fb1;
}

.button:disabled {
  opacity: 0.5;
  cursor: wait;
}
