.thumbContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#thumbnail {
  margin-bottom: 20px;
  border: 1px dashed #aaa;
  background-size: cover;
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

#preview {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-size: cover;
}

#thumbnail:hover {
  outline: none;
  border: 1px dashed #fb1;
  box-shadow: 0 0 0 3px #fea 0 0 0 4px #fb1;
}

#thumbnail input {
  display: none;
}

label#thumbnail.hasThumbnail {
  border: 0;
}

#thumbnail .svg {
  display: flex;
  position: relative;
  top: -50px;
  justify-content: center;
  align-items: center;
}

#thumbnail .svg:hover svg > * {
  fill: #fb1;
}
