.thumbContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#thumbnail {
  margin-bottom: 20px;
  border: 1px dashed #aaa;
  background-size: cover;
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

#thumbnail:hover {
  outline: none;
  border: 2px dashed #fb1;
  box-shadow: 0 0 0 3px #fea 0 0 0 4px #fb1;
}

#thumbnail input {
  display: none;
}

label#thumbnail.has-thumbnail {
  border: 0;
}

label#thumbnail.has-thumbnail svg {
  display: none;
}

#thumbnail .svg {
  display: flex;
  padding-top: 25px;
  justify-content: center;
  align-items: center;
}
