.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background: #fb1;

  height: 7rem;
  color: #ce9848;
}

.footer p {
  font-size: 1.75rem;
  font-weight: bold;
}

.logo svg > * {
  fill: #ce9848;
}

@media (max-width: 40rem) {
  .footer {
    align-items: center;
    height: 5rem;
  }
  .footer p {
    font-size: 1.25rem;
  }

  .logo svg {
    padding: 0.6rem;
  }
}
