@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Ubuntu:ital,wght@0,300;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
h3,
img,
a,
ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  --type-first: 'Ubuntu', sans-serif;
  --type-second: 'Georgia' serif;
  margin-top: 4rem;
  font-size: 16px;
  background: #f3f0f0;
  font-family: var(--type-first);
}

img {
  display: block;
  max-width: 100%;
}

input,
button {
  display: block;
}

.container {
  max-width: 60rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.content {
  display: flexbox;
}

.title {
  font-family: 'Goldman', cursive;
  color: #f2994a;
  line-height: 1;
  font-size: 3rem;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #252525;
}

.animaLeft {
  opacity: 1;
  transform: translateX(-20px);
  animation: animaLeft 0.5s forwards;
}

@keyframes animaLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.App {
  display: flex;
  flex-direction: columns;
  min-height: calc(100vh+10rem);
}

.AppBody {
  flex: 1;
  flex-wrap: wrap;
}

.error {
  color: #f31;
  font-size: 0.875rem;
  margin-top: 0;
}
